body{
    background-color:#000000;
    font-family: 'IBM Plex Sans',sans-serif;
}


.main-container{
    margin: 0 auto;
    margin-top: 100px;
    width: 1200px;
    height: 720px;
    background-color: rgb(22, 26, 26);
}

.logo {
   display: flex;
   justify-content: center;
   padding-bottom: 60px;
   padding-top: 40px;
}
h1{
    display: flex;
    justify-content: center;
    color: white;
    padding-bottom: 50px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
}

.container{
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-wrap: wrap;
    width: 700px;
}

span{
    color: #9C9C9C;
}

.box{
    width: 160px;
    margin: 7px;
    padding-bottom: 80px;
}

.button {
    width: 200px;
    height: 50px;
    margin: 0 auto;
    border: 1.5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
}

button:hover{ 
    background-color: white;
    color: black;
}

img{
    border-radius: 8px;
    
}

.color:hover img{
    border-style: solid;
    border-color: #FFFFFF;
    
}

.zoom {
	overflow: hidden;
}

.zoom img {
	max-width: 100%;
	-moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.zoom:hover img {
	-moz-transform: scale(1.3);
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}